<div class="grid-container">

	<div class="inout-row">
		<input id="ans" readonly>
		<input id="num">
  </div>

		<div class="grid-item">CE</div>
		<div class="grid-item">C</div>
		<div class="grid-item">
			< </div> <div class="grid-item">/
		</div>

		<div (click)="onNumClick('7')" class="grid-item">7</div>
		<div (click)="onNumClick('8')" class="grid-item">8</div>
		<div (click)="onNumClick('9')" class="grid-item">9</div>
		<div class="grid-item">*</div>

		<div (click)="onNumClick('4')" class="grid-item">4</div>
		<div (click)="onNumClick('5')" class="grid-item">5</div>
		<div (click)="onNumClick('6')" class="grid-item">6</div>
		<div class="grid-item">-</div>

		<div (click)="onNumClick('1')" class="grid-item">1</div>
		<div (click)="onNumClick('2')" class="grid-item">2</div>
		<div (click)="onNumClick('3')" class="grid-item">3</div>
		<div (click)="onOperationClick('+')" class="grid-item">+</div>

		<div class="grid-item">+/-</div>
		<div class="grid-item">0</div>
		<div class="grid-item">.</div>
		<div class="grid-item">=</div>


	</div>